.bgcolor{
  background: #ddd;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.name{
  padding: 15px 0;
}

.avatar,
.articleImg{
  margin: 0 auto;
  display: block;
  border: 2px solid black;
  border-radius: 5px;
  max-width: 100%;
}

.nyancat{
  max-width: 100%;
}

.introduce,
.summary{
  padding: 15px 0;
  line-height: 2em;
}

.weblink{
  line-height: 2em;
}

.tableExp{
  background-color: #fff;
  border-radius: 3px;
}

.headTitle{
  line-height: 40px;
}
.articleBlock{
  margin: 20px 0;
  border: 1px solid black;
  border-radius: 5px;
  background: #eee;
  line-height: 2em;
}

.header,
.main,
.footer{
  padding: 15px 0;
}
